html, body {
    height: 50%;
  }
  
  body {
    background: #335555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue;
  }
  
  h1 {
    font-size: 2em;
    color: #eeeeee;
    display: inline-block;
  }
  
  a {
    color: rgb(255, 255, 255);
  }
  
  p {
    margin-top: 1em;
    text-align: center;
    color: #aaaaaa;
  }
  